.parent-block1{
    background-color: #a0d549;
    height: 100px;
    font-weight: bold;

        &__title{
            background-color: blueviolet;
            color: chocolate;
            padding-left: 30px;
            
            &-subtitle{
                background-color: #63da74;
                color: brown;
                padding-left: 30px;
            }
        }
}

.parent-block2{
    background-color: #49d557;
    height: 100px;
    font-weight: bold;

        &__title{
            background-color: rgb(10, 72, 120);
            color: chocolate;
            padding-left: 30px;
            
            &-subtitle{
                background-color: #48cef7;
                color: brown;
                padding-left: 30px;
            }
        }
}